* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 50%; // 1rem = 9px
  }
}

body {
  font-size: $font-text;
  line-height: 1.6;
  background-color: #fff;
  overflow-x: hidden;
}

@keyframes slideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-loader {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  5% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }

  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  25% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }

  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  52% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }

  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  85% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(50px);
    animation-timing-function: ease-in;
  }
}
