.header {
  &__link:hover &__link-image,
  &__link:focus &__link-image {
    fill: $color-primary;
  }
  &__link-image {
    transition: fill 0.3s ease;
  }
}

.nav {
  width: 100%;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: none;
    color: #fff;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    margin: 0 1.4rem;
    font-family: $font-display;
    font-weight: normal;
    letter-spacing: 1px;
    border-bottom: 5px solid transparent;
    transition: border 0.3s ease, color 0.3s ease;

    &:focus,
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  @media only screen and (max-width: 37.5em) {
    flex-wrap: wrap;

    &__link {
      margin: 0 0.8rem;
      font-size: $font-text;
    }
  }
}

.home {
  position: relative;
  max-width: 100vw;
  width: 100%;
  padding: 26rem 0;

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:nth-child(2) {
      animation: slideshow 5s infinite ease forwards;
    }
  }
  &__content {
    margin-left: 10rem;
  }
  &__title {
    font-size: $font-title-1;
    font-family: $font-display;
    font-weight: normal;
    margin-bottom: 1.5rem;
  }
  &__sub-title {
    font-size: $font-title-3;
    font-family: $font-sans;
    font-weight: normal;
    margin-bottom: 1.5rem;
    max-width: 20ch;
  }
  @media only screen and (max-width: 37.5em) {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: $font-title-2;
    }
    &__sub-title {
      font-size: $font-title-4;
      font-weight: 500;
    }

    &__content {
      margin: 0;
      background-color: rgba(#fff, 0.75);
      padding: 3rem 4rem;
      border: 4px solid $color-primary;
    }
  }
}
@keyframes slideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-heading {
  font-family: $font-display;
  font-weight: normal;
  font-size: $font-title-2;

  // to give space for after elem
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 6rem;

  &__content {
    // For centering
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 4px;
      background-color: $color-primary;
      border-radius: 2rem;
    }
  }
}

/**********

Sections: features, top categories
Developer: Sundar Kumar

 **********/

.feature {
  font-family: $font-sans;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  &:nth-child(even) {
    margin-left: auto;
  }
  &:nth-child(odd) {
    margin-right: auto;
  }
  &__image {
    fill: $color-primary;
    margin: 0 2.5rem;
    width: 10rem;
  }
  &__title {
    font-family: $font-display;
    font-weight: normal;
  }
  @media only screen and (max-width: 56.25em) {
    &__image {
      width: 6rem;
    }
  }
  @media only screen and (max-width: 37.5em) {
    &__image {
      width: 5rem;
    }
  }
}

.categories {
  &__carousal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;
  }

  &__brands {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;

    & > * {
      flex: 1;
    }

    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
      height: 50rem;

      & > * {
        width: 80%;
      }
    }

    @media only screen and (max-width: 37.5em) {
      & > * {
        width: 100%;
      }
    }
  }
}
.top-product {
  height: auto;
  padding: 1rem;
  font-family: $font-sans;
  border: 1px solid $color-grey-light-1;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &__image {
    width: 100%;
    margin-bottom: 3.5rem;
  }
  &__heading {
    font-size: 2.4rem;
    font-weight: normal;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid $color-secondary;
  }
  &__list {
    margin-left: 5rem;
    padding-left: 1rem;
  }
  &__item {
    display: flex;
    align-items: center;
    list-style: none;

    &::before {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.4rem;
      background: url(/images/right-arrow.svg) no-repeat center;
      padding-right: 2rem;
    }
  }
}

.brand {
  height: 24.6rem;
  position: relative;
  display: block;
  font-family: $font-sans;
  color: $color-secondary;

  &__title {
    font-size: $font-title-3;
    font-family: $font-display;
    margin-bottom: 0.5rem;
    font-weight: normal;
  }
  &__text {
    margin-bottom: 1.5rem;
  }

  &:first-child {
    background: url(../images/banner-1.jpg) no-repeat center / cover;
  }
  &:first-child &__content {
    position: absolute;
    top: 2.5rem;
    right: 4.5rem;
    text-align: right;
  }
  &:last-child {
    background: url(../images/banner-2.jpg) no-repeat center / cover;

    @media only screen and (max-width: 56.25em) {
      margin-left: auto;
    }
  }
  &:last-child &__content {
    position: absolute;
    top: 2.5rem;
    left: 4.5rem;
  }
}
.btn {
  font-family: $font-sans;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  transition: border 0.3s ease, background 0.3s ease;

  &--solid {
    background-color: $color-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-dark;
    }
  }
}

/* 
  Sections: products, featuring
  Developer: Vishnu
*/

.product {
  width: 32.2rem;
  padding: 1rem;
  border: 1px solid $color-grey-light-1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
  margin-bottom: 3rem;

  &__img {
    width: 100%;
    margin-bottom: 3rem;
  }
  &__stars {
    margin-bottom: 1rem;
  }
  &__name {
    margin-bottom: 1rem;
  }
  &__heading {
    font-family: $font-display;
    font-weight: normal;
    font-size: 2rem;
  }
}

.feature {
  &--1 {
    background: url(/images/featuring-1.jpg) no-repeat center / cover;
  }
  &--2 {
    background: url(/images/featuring-2.jpg) no-repeat center / cover;
  }
  &--3 {
    background: url(/images/featuring-3.jpg) no-repeat center / cover;
  }
  &--4 {
    background: url(/images/featuring-4.jpg) no-repeat center / cover;
  }

  &--large {
    width: 100%;
    padding: 13rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--large &__content {
    padding: 4vw 6vw;
    background-color: rgba(#fff, 0.7);
    border: 1.8rem solid $color-primary;
  }

  &--small {
    padding: 4.8rem 0 15vw 0;
    text-align: center;
  }
  &--medium {
    padding: 4.8rem 0 15vw 0;
    text-align: center;
  }

  &__heading {
    &,
    &--look {
      font-family: $font-display;
      font-weight: normal;
      font-size: $font-title-3;
      margin-bottom: 3rem;
    }

    &--small {
      font-family: $font-sans;
      font-weight: bold;
    }
    &--normal {
      font-family: $font-sans;
      font-size: $font-text;
    }
  }
}

/**********

Sections: newsletter, footer
Developer: Hamza Muhammad

 **********/

.newsletter {
  font-family: $font-sans;
  background-color: $color-secondary;
  color: #fff;
  margin: 6rem 0;

  &__text {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
  }
  &__text-left {
    height: 6rem;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    border-right: 2px solid $color-grey-light-1;
    font-size: $font-title-4;
  }
  &__icon {
    width: 7.5rem;
    margin-right: 2rem;
  }
  &__text-right {
    margin-left: 1.5rem;
  }

  .form {
    flex: 0 0 42%;
    display: flex;
  }
  &__inputBox {
    flex: 1;
    padding: 1.2rem 2rem;
    border: 2px solid $color-primary;
    border-radius: 0.8rem 0 0 0.8rem;
    outline: none;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    font-size: inherit;

    &::placeholder {
      color: rgba(#29261e, 0.5);
    }
    &:hover,
    &:focus {
      box-shadow: 0 0 2rem rgba(#fff, 0.5);
      background-color: #eee;
    }
  }
  &__btn {
    font-size: inherit;
    padding: 1rem 4rem;
    border: 2px solid $color-primary;
    background-color: $color-primary;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    color: $color-grey-dark-1;
    transition: border 0.3s ease, background 0.3s ease;
    outline: none;

    &:focus,
    &:hover {
      background-color: $color-primary-dark;
      border-color: $color-primary-dark;
    }
  }

  @media only screen and (max-width: 68.75em) {
    margin: 5rem 0;

    &__text-left {
      font-size: 2.2rem;
    }
    &__icon {
      width: 6rem;
    }
    &__text-right {
      font-size: 1.4rem;
    }

    .form {
      flex: 0 0 36%;
    }
  }
  @media only screen and (max-width: 56.25em) {
    font-family: $font-sans;
    background-color: $color-secondary;
    color: #fff;
    margin: 6rem 0;

    &__text {
      margin: 0;
      margin-bottom: 3rem;
    }
    &__icon {
      width: 5rem;
    }
    &__text-right {
      margin-left: 1.5rem;
    }

    .form {
      flex: 0 0 100%;
    }
  }
  @media only screen and (max-width: 37.5em) {
    &__text {
      flex-direction: column;
      flex: 1;
    }
    &__text-left {
      width: 100%;
      padding: 0;
      flex-direction: column;
      border: none;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
    &__icon {
      margin: 0;
      width: 7.5rem;
    }
    &__text-right {
      margin: 0;
    }

    .form {
      flex: 0 0 100%;
    }
  }
}

.form {
  display: flex;

  &__inputBox {
    flex: 1;
    padding: 1.2rem 2rem;
    border: 2px solid $color-primary;
    border-radius: 0.8rem 0 0 0.8rem;
    outline: none;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    font-size: inherit;

    &::placeholder {
      color: rgba(#29261e, 0.5);
    }
    &:hover,
    &:focus {
      box-shadow: 0 0 2rem rgba(#fff, 0.5);
      background-color: #eee;
    }
  }
  &__btn {
    font-size: inherit;
    padding: 1rem 4rem;
    border: 2px solid $color-primary;
    background-color: $color-primary;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    color: $color-grey-dark-1;
    transition: border 0.3s ease, background 0.3s ease;
    outline: none;

    &:focus,
    &:hover {
      background-color: $color-primary-dark;
      border-color: $color-primary-dark;
    }
  }

  @media only screen and (max-width: 68.75em) {
    &__inputBox {
      padding: 1rem 1.6rem;
    }
    &__btn {
      padding: 1rem 1.6rem;
    }
  }
  @media only screen and (max-width: 56.25em) {
    &__inputBox {
      padding: 1.2rem 2rem;
    }
    &__btn {
      padding: 1rem 4rem;
    }
  }
  @media only screen and (max-width: 37.5em) {
    &__inputBox {
      flex: 1;
      padding: 1.2rem 2rem;
      border: 2px solid $color-primary;
      border-radius: 0.8rem 0 0 0.8rem;
      outline: none;
      transition: box-shadow 0.3s ease, background 0.3s ease;
      font-size: inherit;

      &::placeholder {
        color: rgba(#29261e, 0.5);
      }
      &:hover,
      &:focus {
        box-shadow: 0 0 2rem rgba(#fff, 0.5);
        background-color: #eee;
      }
    }
    &__btn {
      font-size: inherit;
      padding: 1rem 4rem;
      border: 2px solid $color-primary;
      background-color: $color-primary;
      border-radius: 0 0.8rem 0.8rem 0;
      cursor: pointer;
      color: $color-grey-dark-1;
      transition: border 0.3s ease, background 0.3s ease;
      outline: none;

      &:focus,
      &:hover {
        background-color: $color-primary-dark;
        border-color: $color-primary-dark;
      }
    }
  }
}

.footer {
  font-family: $font-sans;

  &__right &__title::after {
    right: 0;
  }
  &__left &__title::after {
    left: 0;
  }

  &__center {
    width: 36rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__logo {
    width: 23rem;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: $font-title-4;
    margin-bottom: 3rem;
    color: $color-secondary;
    padding-bottom: 1.5rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 6rem;
      height: 4px;
      position: absolute;
      bottom: 0;
      background-color: $color-primary;
      border-radius: 20rem;
    }
  }

  &__text {
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item {
    max-width: 22ch;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__link {
    color: $color-secondary;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease, padding 0.3s ease;

    &:hover,
    &:active {
      padding-left: 1rem;
      color: $color-primary;
    }
  }

  &__social {
    list-style: none;
    display: flex;
  }
  &__social-item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__social-link:hover &__social-icon,
  &__social-link:focus &__social-icon {
    fill: $color-primary;
  }

  &__social-icon {
    width: 2.5rem;
    transition: fill 0.3s ease;
  }
  &__copyright {
    margin-top: 10rem;
    color: $color-grey-light-3;
  }

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    &__right &__title::after {
      right: unset;
      left: 0;
    }

    &__center {
      order: -1;
      align-self: center;
      margin-bottom: 2rem;
    }
  }

  @media only screen and (max-width: 37.5em) {
    &__center {
      width: auto;
    }
  }
}
