.products {
  &__heading {
    font-family: $font-display;
    font-weight: normal;
    font-size: $font-title-2;

    // to give space for after elem
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
  }
  &__heading-content {
    // For centering
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 4px;
      background-color: $color-primary;
      border-radius: 2rem;
    }
  }
}

.product {
  width: 32.2rem;
  padding: 1rem;
  border: 1px solid $color-grey-light-1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 3rem;
  margin-bottom: 3rem;

  &__img {
    width: 100%;
    margin-bottom: 3rem;
  }
  &__stars {
    margin-bottom: 1rem;
  }
  &__name {
    margin-bottom: 1rem;
  }
  &__heading {
    font-family: $font-display;
    font-weight: normal;
    font-size: 2rem;
  }
}

.feature {
  &--1 {
    background: url(/images/featuring-1.jpg) no-repeat center / cover;
  }
  &--2 {
    background: url(/images/featuring-2.jpg) no-repeat center / cover;
  }
  &--3 {
    background: url(/images/featuring-3.jpg) no-repeat center / cover;
  }
  &--4 {
    background: url(/images/featuring-4.jpg) no-repeat center / cover;
  }

  &--large {
    width: 100%;
    padding: 13rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--large &__content {
    padding: 4vw 6vw;
    background-color: rgba(#fff, 0.7);
    border: 1.8rem solid $color-primary;
  }

  &--small {
    padding: 4.8rem 0 15vw 0;
    text-align: center;
  }
  &--medium {
    padding: 4.8rem 0 15vw 0;
    text-align: center;
  }

  &__heading {
    &,
    &--look {
      font-family: $font-display;
      font-weight: normal;
      font-size: $font-title-3;
      margin-bottom: 3rem;
    }

    &--small {
      font-family: $font-sans;
      font-weight: bold;
    }
    &--normal {
      font-family: $font-sans;
      font-size: $font-text;
    }
  }
}

.btn {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  transition: border 0.3s ease, background 0.3s ease;

  &--solid {
    background-color: $color-primary;

    &:hover,
    &:focus {
      background-color: $color-primary-dark;
    }
  }
}
