header {
  height: 100vh;
  margin-bottom: 3rem;
}
.general {
  max-width: 100%;
  .container {
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    height: 150px;
    padding: 1rem;

    header__logo {
      width: 200.267px;
      height: 130px;
    }
  }
}
.corousel {
  // max-width: 100%;
  border: 2px solid green;
  margin-bottom: 3rem;
  background-image: url(../images/home\ background-1.png);
  // img {
  //   border: 2px solid green;
  //   ba
  // }
}
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 7rem 12rem;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
  }
  @media only screen and (max-width: 37.5em) {
    padding: 4rem 6rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 6rem 10rem 10rem 10rem;

  &__left,
  &__right {
    padding-top: 23rem;
  }
  &__right {
    text-align: right;
  }
  @media only screen and (max-width: 56.25em) {
    padding: 2rem 4rem 4rem 4rem;
    &__right {
      text-align: left;
    }
    &__left,
    &__right {
      padding-top: 3rem;
    }
  }
}
